
@tailwind base;
@tailwind components;
@tailwind utilities;

*body{
font-family: Arial, Helvetica, sans-serif;
width: 100%;
height: 100%;
}
.bg-overlay{
  background-color: rgba(227, 227, 235, 0.425);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

/* Navbar */
.navlogo{
  height: 1.5em;
  width: 3em;
}
.right_nav{
  font-size: 0.8rem;
}
.right_nav span{
  font-size: 1rem;
}

/* Sidebar */

/* Login */

.login_form{
  z-index: 0;
  width: 18em;
  height: 22em;
  border-top: 6px solid #7065d4;
  box-shadow: 0 5px 2px -2px grey ;
}
.login_page input {
  border:0;
  outline:0;
  border-bottom: 1px solid rgb(204, 197, 197);
  background-color: #d1d1d1;
  border-radius: 12px;
  height: 2.5em;
}

.login_page input:focus {outline:none!important;border-bottom: 2px solid rgb(170, 114, 170) }

/* footer */
.left-footer{
  font-size: 0.8em;
}

/* signup */


.signup_form{
  z-index: 0;
  margin-top: -90px;
  width: 18em;
  height: 53em;
  border-top: 6px solid #7065d4;
  box-shadow: 0 5px 2px -2px grey ;
}

.signup_box input {
  border:0;
  outline:0;
  border-bottom: 1px solid rgb(204, 197, 197);
  background-color: #d1d1d1;
  border-radius: 12px;
  height: 2.5em;
}
.signup_box input:focus {outline:none!important;border-bottom: 2px solid rgb(170, 114, 170)  }

.signup_box select {
  border:0;
  outline:0;
  border-bottom: 1px solid rgb(204, 197, 197);
  background-color: #d1d1d1;
  border-radius: 12px;
  height: 2.5em;
}
.signup_box select:focus {outline:none!important;border-bottom: 2px solid rgb(170, 114, 170)  }


/* @media (max-width:991px) {

  .nav-desktop{
    display: none;
  }
  .nav-mobile{
    display: block;
  }
  .sidebar{
    margin-left: 17rem;
    height: 100%;
    z-index: 1;
  }
    
} */

.bm-burger-button {
  display: none;
}

.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
  font-size:0.8em;
}

.bm-item:hover {
  background: #bdc3c7;
}

.bm-burger-button {
  position: absolute;
  width: 25px;
  height: 18px;
  left: 36px;
  top: 36px;
  right: 0%;
  margin-top: 2em;
}

.bm-burger-bars {
  background: #a8a9ad;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  background: #373a47;
  padding: 2em 0.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

@media (max-width:768px) {

  .bm-burger-button {
   display: block;
  margin-left: 550px;
  
  }
    
}

@media (max-width:700px) {

  .bm-burger-button {
   display: block;
  margin-left: 450px;
  }
    
}
@media (max-width:600px) {

  .bm-burger-button {
   display: block;
  margin-left: 350px;
  }
    
}